<html>
    <head>
        {% if title %}
        <title>{{ title }} - TileHuria</title>
        {% else %}
        <title>TileHuria</title>
        {% endif %}
    </head>
    <body>
        <div>
            Tilehuria:
	    <a href="{{ url_for('index') }}">Home</a>
	    <a href="{{ url_for('mbtiles') }}">MBTiles</a>
	    <a href="{{ url_for('login') }}">Log in</a>
	    <a href="{{ url_for('profile') }}">Profile</a>	    
	    <a href="{{ url_for('signup') }}">Sign up</a>	    
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
