{% extends "base.html" %}

{% block content %}
<form enctype="multipart/form-data" method=post action="/upload">
  <div>
    <h1>Please upload a polygon file</h1>
    <p>It should be a GeoJSON file containing one or more polygons, in WGS84 Coordinate Reference System (this should be the default for most tools that produce such files).</p><p>With a bit of luck, after submitting your file you will find a corresponding MBTile file on the MBTiles page.</p>
  </div>

  <hr>

  <div>
    <input id="polygon" name="polygon" type="file" />
  </div>
 

  <div>
    <p>Please select a tile server:
      <select id="tileserver" name="tileserver">
	{% for servername in servernames %}
  	  <option>{{servername}}</option>
	{% endfor %}
      </select>
    </p>
  </div>

  <div>
    <p>Pick a minimum zoom level
      <input type="number" name="minzoom" id="minzoom" min="8" max="22" step="1" value="16">
    </p>
  </div>

  <div>
    <p>Pick a maximum zoom level
      <input type="number" name="maxzoom" id="maxzoom" min="8" max="22" step="1" value="20">
    </p>
  </div>
  
  <div>
    <p>Please select a tile file format:
      <select id="format" name="format">
  	<option>JPEG</option>
	<option>PNG</option>
      </select>
      (JPEG gives smaller files, PNG has better color depth and allows transparency).
    </p>
  </div>

  <div>
    <button type="submit" style="color:purple"><strong>Submit</strong></button>
  </div>
</form>

{% endblock %}
